* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* The styling for our header section */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    background-color: #1f2937;
    color: #F9FAf8;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Header links styling */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero section styling */

.hero-section {
    display: flex;
    background-color: #1f2937;
    padding: 100px 300px;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.hero-section-text {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero-section-img {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* Header hero text styling */

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

.hero-section-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

/* General Button styling */

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-color: #3882F6;
    padding: 10px 30px;
    max-width: 150px;
}

/* Info section styling */

.info-section {
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    padding-bottom: 100px;
}

.info-section > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 50px;
}

.icon-description {
    color: #1F2937;
}

/* Flex box wrapper */

.box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box > img {
    height: 128px;
    width: 128px;
    border-radius: 20px;
}

.box > p {
    max-width: 300px;
    text-align: center;
}

/* Quote section styling */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 250px;
    align-items: flex-end;
    row-gap: 20px;
}

.quote, quote.p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-section > p {
    margin: 0;
}

p.author {
    font-weight: bold;
    font-size: 32px;
    color: #1F2937;
}